shop.align-self-center {
  -webkit-align-self:center;
  -ms-flex-item-align: center;
  align-self: center;

}
.clearfloat {
  clear: both;
}

#shop1 {
  float: center;
  width: 200px;
}
#shop2 {
  float: center;
  width: 200px;
}
#shop3 {
  float: center;
  width: 200px;
}
#shop4 {
  float: center;
  width: 200px;
}
#shop5 {
  float: center;
  width: 200px;
}